apiVersion: v1 
kind: Service 
metadata:
  name: mysql-service
  namespace: mysql
spec:
  clusterIP: None
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  # type: Headless Headless service me "type: headless nhi likhna hota h! ClusetrIP:None is enough to tell its headless service!